
.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero-image {
    flex: 1;
    text-align: center;
  }
  
  .profile-pic {
    width: 100%;
    max-width: 300px;
    object-fit: cover;
  }
  
  .hero-text {
    flex: 1;
  }
  
  .hero-heading {
    font-size: 2.5rem;
    color: #1A1A1A; 
    margin-bottom: 0.5rem;
  }
  .hero-heading span {
    color:#1A73E8 ;
  }
  
  .hero-subheading {
    font-size: 1.75rem;
    color: #3c3c3c;
    margin-bottom: 1rem;
  }
  
  .hero-paragraph {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .hero-icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .icon {
    font-size: 1.8rem;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #1A73E8; 
  }
  
  
  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-heading {
      font-size: 2rem;
    }
  
    .hero-subheading {
      font-size: 1.4rem;
    }
  
    .hero-paragraph {
      font-size: 1rem;
    }
  
    .profile-pic {
      max-width: 200px;
    }
  
    
    .hero-icons {
      justify-content: center;
      margin-top: 1rem;
    }
  
    .icon {
      font-size: 1.5rem; 
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .hero-heading {
      font-size: 2.2rem;
    }
  
    .hero-subheading {
      font-size: 1.6rem;
    }
  
    .hero-paragraph {
      font-size: 1.1rem;
    }
  
    .profile-pic {
      max-width: 250px;
    }
  }
  